.fluid-wrapper {
    padding-top: 80px;
    padding-bottom: 40px;
    color: #5a5a5a;
}
.repo-row {
}
.repo-details {
    border: 2px #f5f5f5 solid;
}
.repo-details-head {
    background-color: #f5f5f5;
}
.repo-details-metric {
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
}
.repo-details-issues{
    background-color: #ffffff;
}
.media-body {
    background-color: #f5f5f5;
}
#gauge_chart{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 800px;
}
#bar_chart{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}