<app-navbar [title]="title" (onKeyup)="onSearch($event)"></app-navbar>
<div class="container-fluid fluid-wrapper">
    <div class="page container">
        <!-- search-results -->
        <template [ngIf]="!selectedRepo.id">
            <h2 *ngIf="emptySearchbox" class="hidden-xs">
                <span>Please start typing repository name!</span>
            </h2>
            <div *ngFor="let repo of repos; let i=index">
                <template [ngIf]="i<20">                 
                    <app-repo-details [repo]="repo" (onSelectRepo)="selectRepo($event)"></app-repo-details>
                    <div class="row"> 
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <hr />
                        </div>
                     </div>
                </template>
            </div><!-- end of loop -->
        </template>
        <!-- /search-results -->
        <!-- selected repo -->
        <template [ngIf]="selectedRepo.id">
            <div class="repo">
                <ol class="breadcrumb">
                    <li><a (click)="home()">Home</a></li>
                    <li class="active">{{selectedRepo.full_name}}</li>
                </ol>
                <div class="repo-details">
                    <div class="media">
                        <div class="media-body">
                            <app-repo-details [repo]="selectedRepo" (onSelectRepo)="selectRepo($event)"></app-repo-details>
                            <tabset>
                                <tab title="Metric">
                                    <div class="repo-details-metric">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-lg-12 text-center">
                                                <div id="gauge_chart" [chartData]="gaugeData(selectedRepo)" [chartOptions]= "gaugeChartOptions" chartType="Gauge" GoogleChart></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-lg-12 text-center ">
                                                <div id="bar_chart" [chartData]="barChartData" [chartOptions] = "barChartOptions" chartType="BarChart" GoogleChart></div>
                                            </div>
                                        </div>
                                    </div>
                                </tab>
                                <tab title="Issues">
                                    <div class="row repo-details-issues">
                                        <div class="col-xs-12 col-sm-12 col-lg-12"> 
                                            <h2 *ngIf="loadingIssues">
                                                <span>Issues loading...</span>
                                            </h2>
                                            <!-- issues -->
                                            <template [ngIf]="selectedRepo.issues">
                                                <div class="issues">
                                                    <h2 *ngIf="!selectedRepo.issues.length">
                                                        <span>No issues for this repository</span>
                                                    </h2>
                                                    <div *ngFor="let issue of selectedRepo.issues">
                                                        <app-issue [issue]="issue"></app-issue>
                                                        <div class="row"> 
                                                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                                                <hr />
                                                            </div>
                                                        </div>
                                                    </div><!-- end of loop -->
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </tab>   
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <app-footer></app-footer>
    </div> <!-- /container -->
</div> <!-- /container-fluid -->