<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <div id="navbar" class="">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input #input (keyup)="onSearch(input.value)" [focus]="inputFocused" type="text" placeholder="Search repositories by name..." class="form-control search-box">
                </div>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
