<div class="row issue" myHighlight>
    <div class="col-sm-1 col-lg-1 hidden-xs">
        <div class="thumbnail">
            <img [src]="issue.user.avatar_url">
        </div>
    </div>
    <div class="col-xs-12 col-sm-11 col-lg-11">
        <span class="label label-{{ issue.state == 'open' ? 'primary' : 'default' }}">{{issue.state }}</span>
        <h4> {{issue.created_at | date:'medium'}} <br /> {{issue.title}}</h4>
        
        <!-- innerHTML binding and pipes -->
        <div class="issue-body" [innerHTML]="issue.body | htmlentities | image2img | link2a | triplequote2pre | quote2pre | nl2br"></div><br /><br />
        <button (click)="viewIssue(issue)" type="button" class="btn btn-primary pull-right">View issue on GitHub</button>
    </div>
</div>
