<div class="row repo-row" myHighlight> 
    <div class="col-xs-1 col-sm-2 col-lg-3">
        <div class="thumbnail">
            <img *ngIf="!repo.selected" [src]="repo.owner.avatar_url" (click)="selectRepo(repo)">
            <img *ngIf="repo.selected" [src]="repo.owner.avatar_url">
        </div>
    </div>
    <div class="col-xs-11 col-sm-10 col-lg-9">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h2 class="repoName">{{repo.full_name}}</h2>
            </div>
        </div>    
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-6">    
                <form class="form-horizontal">
                    <div class="form-group">
                      <label class="control-label col-sm-3 align-top">Description:</label>
                      <div class="col-sm-9">{{repo.description}}</div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3 align-top">Language:</label>
                      <div class="col-sm-9">{{repo.language}}</div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3 align-top">Updated at:</label>
                      <div class="col-sm-9">{{repo.updated_at | date:'medium'}}</div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3 align-top">Last push at:</label>
                      <div class="col-sm-9">{{repo.pushed_at | date:'medium'}}</div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3 align-top">URL:</label>
                      <div class="col-sm-9"><a target="_blank" href="{{repo.html_url}}">{{repo.html_url}}</a></div>
                    </div>
                </form>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">    
                <form class="form-horizontal">
                    <div class="form-group">
                      <label class="control-label col-sm-6 align-top">Open issues:</label>
                      <div class="col-sm-6">{{repo.open_issues_count | number}}</div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-6 align-top">Forks:</label>
                      <div class="col-sm-6">{{repo.forks_count | number}}</div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-6 align-top">Stargazers:</label>
                      <div class="col-sm-6">{{repo.stargazers_count | number}}</div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-6 align-top">Watchers:</label>
                      <div class="col-sm-6">{{repo.watchers_count | number}}</div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3" align="center">
                <label title="Higher is better" class="control-label">Maintain index:</label><br />
                <span class="maintain-index">{{getMaintainIndex(repo) | number}}</span><br />
                <span class="last-push">Last push was {{getInactiveDaysSentence(repo)}}</span><br /><br />
                <button *ngIf="!repo.selected" (click)="selectRepo(repo)" type="button" class="btn btn-primary pull-right">Select repository</button>
            </div>
        </div>
    </div>   
</div>