.form-horizontal .control-label {
    vertical-align: top;
    padding: 0px 0px 0px 0px;
}
.form-horizontal .form-group{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 6px 0px;
}
.maintain-index{
    font-size: 80px;
    color: #666666;
    text-shadow: 2px 2px 4px #000000;
}
.last-push{
    font-style: italic;
}